* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    margin: 5px 0 5px 0;
    position: relative;
    min-height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to bottom, 100px gray, white 100px)
}
.titlecontainer{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px;
    box-shadow: 0 4px 8px 0 gray, 0 2px 10px 0 gray;
}
.title {
    text-align: left;
    flex:1;
    padding: 0px;
    margin-left: 150px;
}
.titlenav {
    text-align: right;
    flex: 1;
    margin: 5px;
}
.titlenav nav{
    display: flex;
    gap: 50px;
    font-size: 20px;
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
nav a{
    text-decoration: none;
    background-color: white;
    padding: 0px;
    border-bottom: 3px solid white;
    color: black;
}
nav a:hover {
    border-bottom-color: black;
}
nav a:active{
    border-bottom-color: black;
}
footer {
    text-align:center
}
.intro-text-pic{
    display:flex;
    gap: 60px;
}
.intro-pic{
    margin-top: 30px;
    margin-left: 90px;
}
.intro-title p:nth-child(2){
    margin-top: 10px;
}
.intro-title p{
    margin: 30px 0 3px 0;
    color: black;
}
.intro-content{
    text-align: justify;
    margin-right: 90px;
    margin-top:5px;
    color: black;
    word-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.page2title{
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.content-2nd{
    margin-left: 80px;
    margin-top: 5px;
}
.content1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 40px;
}
.content-box {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px 5px 0 0;
    background: white;
    box-shadow: 0 4px 15px gray;
    width:45%;
}
.content-1st-img img{
    border-radius: 5px 5px 0 0;
    width: 439px;
     width: 100%;
    height: auto;
    display: block;
    -webkit-interpolation-mode: bicubic;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}
.text-2nd {
    flex: 1;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-left: 5px;
    padding: 10px;
    color: black;
}
.text-2nd p:nth-child(1){
    margin-top: 2px;
    margin-bottom: 1px;
}
.text-2nd p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing: 10px;
    margin-bottom: 20px;
}
.reportcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px 5px 0 0;
    background: white;
    box-shadow: 0 4px 15px gray;
    width: 550px;
    margin-top: 35px;
    margin-left: 30%;
}
.reportimg {
    height: auto;
    display: block;
    -webkit-interpolation-mode: bicubic;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    border-radius: 5px 5px 0 0;
    margin-top: 0px;
    margin-left: 0px;
}
.report2{
    flex: 1;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-left: 5px;
    padding: 10px;
    color: black;
}
.report2 p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing: 10px;
    margin-bottom: 20px;
}
.foicontainer{
    display: flex;
    gap: 160px;
    margin-top: 50px;
    margin-bottom: 50px; 
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;

}
.foi-logo{
    margin-left: 130px;
}
.foitext p:nth-child(1){
    margin-top: 0px
}
.foitext p:nth-child(2){
    word-spacing: 25px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.foibutton{
    border-radius: 20px;
    margin-top: 20px;
    background-color: darkgreen;
    border:none;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 20px;
}
.foibutton a{
    text-decoration: none;
    color: white;
}
.foibutton:hover{
    color:black;
    background-color: blue;
}
.submitreport{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 8px 0 grey, 0 6px 20px 0 white;

}
.textreport {
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formreport {
    margin-left: 90px;
    margin-right: 90px;
}
.formreport form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formreport input,
.formreport textarea,
.formreport button {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: white;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    font-size: 18px;
}
footer img {
    margin:auto;
    margin-top: 10px;
}
.footertext {
    display: flex;
    gap: 250px; 
    flex-wrap: wrap;
    margin-top:30px ;
    margin-left: 120px;
    font-family: 'Times New Roman', Times, serif;
}
.footertext2 img{
    margin-bottom: 20px;
}
.footertext p {
    margin: 0;
    display: inline-block;
}
.footertext p:nth-child(2){
    margin-top: 0px;
}
.footertext2{
    margin-top: 15px;
    margin-top: 50px;
}
.aboutusintro{
    width: 100%;
    height: 300px;
    background-image: url("aboutusimg.jpg");
    background-size: cover;
    background-position: center;
}
.aboutustext{
    font-size: 100px;
    color: white;
    margin-left: 100px;
    padding: 80px;
}
.aboutus1 {
    display: flex;
    gap: 90px;
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.aboutus1 p{
    margin-top: 30px;
    margin-right: 100px;
    font-size: 20px;
    line-height: 2;
}
hr{
    margin-left: 100px;
    margin-right: 100px;
}